h1{color: #51C936;
	text-align: center;}
h2{color: #84A404;
	text-align: center;}
p{font-family: Arial Black;
	color:#D2C30A;
	padding: 25px;
	background-color: #714605;
	text-align: center;}
a{color: #F2F808;
	text-decoration: none;}
body{background-color: #443700;
	margin: 50px;}
img{margin: 0 auto;
	display: block;}